#eu{
    font-family: monospace;
    padding-top: 10px;
    text-decoration: fuchsia;
}
.header{
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fotinha    {
    padding:19px;
    background-color:darkorange;
}
.meunome  {
    text-align: center;
    
}
.desc {
    text-align: left;
    margin-left: 25%;
    top: 42%;
    right: 600px;
    padding-right: 50px;
}
body{
    background-color:floralwhite;
}
img{
    border-radius: 60px;
    float: left;
    background-color: darkorange;

}
#links{
    display:block;
    padding-left: 20px;
    top: 70px;
    float: right;
    
}
strong{
    text-shadow: fuchsia;
}
.hs{
    font-size: large;
}
.ss{
    font-size:medium;
}
.neonText {
    color: rgb(3, 3, 3);
    text-shadow:
        0 0 7px rgb(190, 108, 108),
        0 0 10px rgb(190, 108, 108),
        0 0 21px rgb(190, 108, 108),
        0 0 42px rgb(190, 108, 108),
        0 0 82px rgb(233, 52, 224),
        0 0 92px rgb(233, 52, 224),
        0 0 102px rgb(233, 52, 224),
        0 0 151px rgb(233, 52, 224);
}
div{
    
}